
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
body {
    padding-top: 70px;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
    