*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    font-family: "Roboto Mono", monospace;/*Fuente del cuerpo completo*/
}

    header{/*Encabezado, con su color de fondo y configuracion de como se visualizara*/
        background: #008DDA;
        display: flex;
        align-items: center;
        flex-flow: column;
        
    }
    .fecha{
        display: flex;
        align-items: center;
    }
    
        img{/*Logotipo*/
            width: 100px;
            height: auto;
            
        }
        h1{/*Isotipo*/
            font-family:Arial;  
            color: #F1EEDC;
            margin-top: -30px;
            font-size: 65px;
        }
        #fecha-hora {
            font-family:Arial;  
            color: #F1EEDC;
            font-size: 20px;
        }
    
    nav{/*Menu de navegacion*/
        background: url(Imagenes/Faro.jpg);/*Franja extraida de una imagen en donde estaran los botones "inicio-deportes-negocios"*/
        size-adjust: 100%;
    }
    .menu{
        background: rgba(0, 0, 0, 0.459);        
        display: flex;
        flex-flow: row nowrap;
        height: 60px;
        align-items: center;
        padding-left: 30px;
        
    }
    .menu a{/*botones "inicio-deportes-negocios"*/
        color: #F1EEDC;
        text-decoration: none;/*quitar el subrayado*/
        font-size: 14px;
        text-transform: uppercase;
        padding: 0 10px;
        letter-spacing: 5px;
    }
    .menu a:hover{/*Cambo de color cuando el mouse pase por los botones*/
        color: #73738d;
    }
    .noticias{
        background: #f5f5f5;
    }
    .deportes{
        background: #f5f5f5;
    }
    .negocios{
        background: #f5f5f5;
    }
    
    .titulo{
        display: flex;
        margin-left: 80px;
        margin-top: 15px;
        font-size: 40px;
        border-bottom: 1px solid #00224D;
              
    }    
        .articulos{/*Configuracion de caja donde estaran los articulos*/
            background: #f5f5f5;
            display: flex;            
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: space-around;           
            }
        
        .crear{
            background: #f5f5f5;
            display: flex;            
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: space-around; 
        }
        form{
            margin: 10px;
            padding: 30px 35px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            border-radius: 20px;
            transition: background-color 1s ease;
            width: 350px;
        }
        form:hover{
            background: #000000;
            color: #ffffff;            
        }
        .contacto{
            background: #f5f5f5;
            display: flex;            
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: space-around;
        }
        .input-group{
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
        }
        input, textarea{
            padding: 5px 5px;
            border-radius: 10px;
            margin-bottom: 10px;
            background-color: #c8ecff99;
            border: 2px solid #c8ecff99;
            color: #00224D;
            outline: none;
        }
        button{
            padding: 10px 15px;
            margin: 5px;
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }
        
            .fondo{/*se creo esta caja intermedia para cada articulo asi poder mantener el fondo blanco*/
                display: flex;            
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                align-content: space-around;
                background-color: white;
                transition: background-color 1s ease;
                width: 40%;
                height: 500px;
                border-radius: 20px;
                margin: 10px;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
            }
            .fondo:hover{
                background-color: black;/*Cambia el fondo del articulo cuando para el mouse por encima*/
            }
            
            .article{  /*Configracion de cada articulo*/
                display: flex;            
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                align-content: space-around;            
                width: 100%;
                height: 100%;                                             
                margin: 10px;
                border-radius: 10px;
            }
            .article img{/*parametros de altura ancho y borde redondeado cada imagen de los articulos*/           
                width: 450px;
                height: auto;                
                border-radius: 10px;            
            }
            .article a{
                display: flex;            
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                align-content: space-around;
                color: #000000;
                transition: font-weight 0.3s ease;
                
            }
            .article a:hover{/*Cambios cuando se pasa sobre el articulo*/
                
                color: #ffffff;/*Letras cambian a color blanco*/
                font-weight: bold;/*Letras cambian a negrita*/
                text-decoration: none;/*se quita el subrayado*/
            }
            .h2audio{/*Cargen de audio*/
                margin-top: 10px;
            }      
            
            h4{
                margin: 10px;
            }
            p{                
                margin: 10px;
            }
            video {/*Tamaño de el video ubicacion y bordes redondeados*/
                justify-content: space-around; 
                width: 450px;
                height: auto; 
                border-radius: 10px;               
            }
            audio{                
                width: 70%;                
            }
    footer{/*Color de fondo y fuente segun los solicitados*/
        background: #c9d2d0;
        color: #31231e;  
        width: auto;
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    h5{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }

    /*Configuraciones sitio responsivo*/
    @media (max-width: 1200px) {
        .articulos {
            flex-wrap: nowrap;
            flex-direction: column;
        }
        .fondo{
            width: 80%;
        }                
    }
    @media (max-width: 590px) {
        .articulos {
            flex-wrap: nowrap;
            flex-direction: column;
        }
        .fondo{
            width: 95%;
        }  
        .article img{                
            width: 300px;
            height: auto;                
            border-radius: 10px;            
        } 
        video {
            justify-content: space-around; 
            width: 300px;
            height: auto; 
            border-radius: 10px;               
        }
        .menu a{
            color: #F1EEDC;
            text-decoration: none;
            font-size: 14px;
            text-transform: uppercase;
            padding: 0 10px;
            letter-spacing: 1px;
        }             
    }
        
                        
            
    
    
